<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Repositorio Institucional ICANH</h1>
          <p class="lead">Plataforma de acceso abierto del Instituto Colombiano de Antropología e Historia.</p>
        </div>
      </div>
      <ul>
        <li>
          <strong>Producción Científica:</strong> Acceda y descargue informes arqueológicos, libros, revistas y material audiovisual producidos por el Instituto.
        </li>
        <li>
          <strong>Memoria y Patrimonio:</strong> Consulte documentos especializados en antropología, arqueología e historia que resguardan la memoria de la nación.
        </li>
        <li>
          <strong>Investigación Abierta:</strong> Explore nuestras colecciones organizadas bajo estándares internacionales para garantizar su preservación y visibilidad.
        </li>
      </ul>
      <p>Para más información institucional, visite el sitio oficial del <a href="https://www.icanh.gov.co" target="_blank" role="link" tabindex="0">ICANH</a>.</p>
      <p>Si desea consultar el catálogo bibliográfico del Instituto, acceda a la <a href="http://biblioteca.icanh.gov.co/" target="_blank" role="link" tabindex="0">Biblioteca Especializada Alicia Dussán de Reichel</a></p>
    </div>
  </div>
  
  <!-- Aquí se carga la imagen de fondo. Si quieres cambiarla, reemplaza los archivos en assets/dspace/images/ -->
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner_icanh.webp 2000w, assets/dspace/images/banner-half-icanh.webp 1200w, assets/dspace/images/banner-tall-icanh.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner_icanh.jpg 2000w, assets/dspace/images/banner-half-icanh-icanh.jpg 1200w, assets/dspace/images/banner-tall-icanh.jpg 768w">
    <img alt="Fondo Institucional" [src]="'assets/dspace/images/banner_icanh.jpg'"/>
  </picture>
</div>