h2 {
    font-size: 17pt;
    font-weight: bold;
    color: #4a3c8c;
    display: inline-block;
    margin: auto 10px;
}

.communities-list-container {
    padding: 20px;
    border: 1px solid #662d91;
    border-radius: 20px;
    margin-top: 10px;
}