@import '../../../../../../../styles/variables';

.item-list-supervision {
    a {
        cursor: pointer;
    }
}

.lead.item-list-title.dont-break-out {
  color: #4a3c8c;

  &:hover, &:focus {
    color: darken(#4a3c8c, 15%);
  }
}